body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e2f2fe;
}

.container {
    width: 780px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 100px 40px;
}

header h2 {
    font-size: 1.6rem;
}